<div class="saved-tag" data-id='<%= "#{tag.id}" %>' style="left: <%= "#{tag.x}px; top: #{tag.y}px;  " %>" >

<p class="btn btn-default btn-block" data-id="<%= "#{tag.id}" %>">Remove <%= tag.character.name %></p>


</div>