<div class="text-center">

  <h1>Welcome to Where's Waldo!</h1>

  <h5>Try to find each character. Click on their location to identify them:</h5>

  <p>Waldo | Wenda | Odlaw | Wizard Whitebeard | Woof | </p>
  <h3 class="score">Score: 1000</h3>


  <a id="waldo-photo" class="searching">

    <%= image_tag "1.jpg", class: "searching" %>

    <div class="target">
      <div class='dropdown'>

        <div class="name">
          <% @characters.each do |character| %>
            <%= button_to character.name, tags_path, {method: :post, class: "btn btn-default btn-block", id: "button-#{character.id}" } %>
          <% end %>
        </div>

      </div>
    </div>

    <% @tags.each do |tag| %>
      <%= render partial: 'tags/tag', locals: { tag: tag } %>
    <% end %>

  </a>


</div>